<article class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title">{{ .Title }}</h2>
        {{ if .Params.subtitle }}
            <h3 class="post-subtitle">
                {{ .Params.subtitle }}
            </h3>
        {{ end }}
        {{ if .Params.image }}
            <div class="post-image">
                <img src="{{ .Params.image }}" alt="{{ .Title }}" />
            </div>
        {{ end }}
        {{ if .Params.video }}
            <video loop autoplay muted playsinline class="img-title">
                <source src="{{ .Params.video }}">
            </video>
        {{ end }}
    </a>

    <p class="post-meta">
        {{ partial "post_meta.html" . }}
    </p>
    <div class="post-entry">
      {{ if .Truncated }}
          {{ .Summary }}
          <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
      {{ else }}
          {{ .Content }}
      {{ end }}
    </div>

    {{ if .Params.tags }}
    <div class="blog-tags">
        {{ range .Params.tags }}
            <a href="{{"tags" | absLangURL}}/{{ . | urlize }}/">{{ . }}</a>&nbsp;
        {{ end }}
    </div>
    {{ end }}

</article>
